$appNavbarHeight: 50px;

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .navbar-inner {
    height: $appNavbarHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-brand {
      width: 100px;
    }

    .navbar-nav {
      display: flex;
      align-items: center;

      .navbar-item {
        margin: 0 $spacer;
      }
    }
  }
}

#app {
  padding-top: $appNavbarHeight * 2;
}